{{ define "main" }} {{ with .GetPage "About" }}
<h1 hidden>{{ .Page.Title }}</h1>
<section class="about">
  <header>
    <a href="{{ .RelPermalink }}">
      <h2>About</h2>
    </a>
  </header>
  <p>{{ truncate 128 .Content }}</p>
  <footer>
    <a href="{{ .RelPermalink }}">Read more...</a>
  </footer>
</section>
{{ end }}
<section class="posts">
  <header>
    <h2>Posts</h2>
  </header>
  {{ $pages := where site.RegularPages "Type" "posts" }} {{ range
  $pages.GroupByPublishDate "2006" }}
  <div class="page-groupby">
    <h3>{{ .Key }}</h3>
    <ul>
      {{ range .Pages }}
      <li>
        <a href="{{ .RelPermalink }}"><span class="post-title">{{ .LinkTitle }}</span>
          <small class="post-metadata">
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00"
            }} {{ $dateHuman := .Date | time.Format "2 Jan" }}
            <span><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></span>
            <span title="{{ .WordCount }} words">
              {{ .ReadingTime }} min</span></small></a>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
  <footer />
</section>
{{ end }}
