{{ define "main" }}
  {{ with .GetPage "About" }}
    <h1 hidden>{{ .Page.Title }}</h1>
    <section class="about">
      <header>
        <a href="{{ .RelPermalink }}">
          <h2>About</h2>
        </a>
      </header>
      <p>{{ truncate 256 .Content }}</p>
      <footer>
        <a href="{{ .RelPermalink }}">Read more...</a>
      </footer>
    </section>
  {{ end }}
  <section class="posts">
    <header>
      <h2>Posts</h2>
    </header>
    {{ partial "posts-list.html" . }}
    <footer />
  </section>
{{ end }}
