/* Reset Styling */
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Global Styling */
:root {
  /* Colors */
  --primary-color: #196680;
  --secondary-color: #80dfff;
  --alternative-color: #ff9b33;
  --text-color: #222222;
  --background-color: #fefefe
    /* Spacing */
    --small-gap: 0.5rem;
  --normal-gap: 1rem;
  --letter-gap: 1ch;
  --variable-gap: calc(8px + 1.5625vw);

  /* Font Size */
  --small-size: 0.875rem;
  --normal-size: 1rem;
  --large-size: 1.25rem;
  --larger-size: 1.5rem;
  --very-large-size: 2.5rem;
}

p {
  font-size: var(--normal-size);
}

* {
  transition: all 0.3s ease-in-out;
}

h1 {
  font-family:
    Optician Sans,
    sans-serif;
  font-size: var(--very-large-size);
}

h1,
h2 {
  font-family:
    Optician Sans,
    sans-serif;
}

header,
footer {
  font-family:
    Optician Sans,
    sans-serif;
}

header nav {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header nav ul:hover a:not(:hover) {
  opacity: 0.8;
  filter: blur(1px);
}

header nav ul a:hover {
  outline: 2px ridge var(--text-color);
  filter: none;
  border-radius: 4rem;
  box-shadow: 0 0 0 2pt var(--text-color);
}

header nav ul li a {
  padding: 0.5rem 1rem;
}

header nav ul li {
  padding: 0.5rem 1rem;
  list-style: none;
}

[aria-current="page"] {
  outline: 2px ridge var(--text-color);
  filter: none;
  border-radius: 4rem;
}

section {
  border-radius: 0.25rem;
  padding: 0rem calc(var(--normal-gap) / 2);
}

section.info {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--text-color);
  box-shadow: 1px 1px 1px 1px var(--text-color);
}

section.info a.more {
  align-self: end;
  padding: 1rem;
}

a {
  color: var(--primary-color);
  text-decoration: underline dotted;
}

a:hover {
  color: var(--alternative-color);
  text-decoration: underline solid;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  width: 100dvw;
  min-height: 100dvh;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family:
    Monaspace Argon,
    sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--variable-gap);
  width: 100%;
  max-width: calc(75ch + var(--variable-gap));
  flex-grow: 1;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p:not(:last-child)::after {
  padding: 0 var(--letter-gap);
  content: "·";
}

/* breadcrumbs */
ul.breadcrumbs {
  font-size: var(--small-size);
  list-style: none;
  display: flex;
}

ul.breadcrumbs>li:not(:last-child)::after {
  padding: 0 var(--letter-gap);
  content: "/";
}

@font-face {
  font-family: "Optician Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Optiker-K.woff") format("woff");
}

@font-face {
  font-family: "Monaspace Radon";
  font-style: normal;
  src: url("/fonts/MonaspaceRadon-Regular.woff") format("woff");
}

@font-face {
  font-family: "Monaspace Argon";
  font-style: normal;
  src: url("/fonts/MonaspaceArgon-Regular.woff") format("woff");
}
