{{ define "main" }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    <small class="post-metadata">
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }} {{
      $dateHuman := .Date | time.Format "Jan 2, 2006" }}
      <span><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></span>
      <span title="{{ .WordCount }} words">{{ .ReadingTime }} min</span>
      <span>{{ .Params.author }}</span>
      <span><a href="{{ .Params.githubRepo }}">Suggest Changes</a></span>
    </small>
  </header>
  <div class="content">{{ .Content }}</div>
  {{ partial "tags.html" (dict "taxonomy" "tags" "page" .) }}
  <footer>
    {{ if .Prev }} {{ with .Prev }}
    <a href="{{ .RelPermalink }}">《 {{ .Title | truncate 10 }}</a>
    {{ end }} {{ end }} {{ if .Next }} {{ with .Next }}
    <a href="{{ .RelPermalink }}">{{ .Title | truncate 10 }} 》 </a>
    {{end }} {{ end }}
  </footer>
</article>
{{ end }}
