{{ define "main" }}
  <article>
    <header>
      <h1>{{ .Title }}</h1>
      <small class="post-metadata">
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format "Jan 2, 2006" }}
        <span
          title="Last modified: {{ .Lastmod | time.Format " Jan 2, 2006 15:04 UTC" }}"
          ><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></span
        >
        <span title="{{ .WordCount }} words">{{ .ReadingTime }} min</span>
        <span>{{ .Params.author }}</span>
        <span id="suggest"
          ><a href="{{ .Params.githubRepo }}">Suggest Changes</a></span
        >
      </small>
      {{ if not (.Param "cover.hidden") }}
        {{ $src := (.Param "cover.image") | default "" }}
        {{ $alt := (.Param "cover.alt") | default "" }}
        {{ $caption := (.Param "cover.caption") | default false }}
        <figure>
          <img src="{{ $src }}" alt="{{ $alt }}" />
          {{ if $caption }}
            <figcaption>{{ $caption | markdownify }}</figcaption>
          {{ end }}
        </figure>
      {{ end }}
      {{ if not (.Param "audio.hidden") }}
        {{ $src := (.Param "audio.src") | default "" }}
        {{ $caption := (.Param "audio.caption") | default false }}
        <figure>
          {{ if $caption }}
            <figcaption>{{ $caption }}</figcaption>
          {{ end }}
          <audio controls src="{{ $src }}"></audio>
        </figure>
      {{ end }}
    </header>
    <aside>
      <details class="table-of-contents">
        <summary>Table of Contents</summary>
        {{ .TableOfContents }}
      </details>
    </aside>
    <div class="content">{{ .Content }}</div>
    <hr />
    <aside class="tags">
      {{ partial "tags.html" (dict "taxonomy" "tags" "page" .) }}
    </aside>
    <hr />
    <footer>
      {{ if .Prev }}
        {{ with .Prev }}
          <a rel="prev" href="{{ .RelPermalink }}">《 {{ .Title }}</a>
        {{ end }}
      {{ else }}
        <span />
      {{ end }}
      {{ if .Next }}
        {{ with .Next }}
          <a rel="next" href="{{ .RelPermalink }}">{{ .Title }} 》 </a>
        {{ end }}
      {{ else }}
        <span />
      {{ end }}
    </footer>
  </article>
{{ end }}
